@font-face {
    src: url("../assets/font/ReggaeOne-Regular.ttf");
    font-family: "ReggaeOne";
}
:root {
    --clearblack: #00000080;
}
::-webkit-scrollbar {
    width: 0;
}
html {
    box-sizing: border-box;
}
body {
    background-image: url("../assets/background.webp");
    font-family: "ReggaeOne", serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    color: #fff;
}
header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0%;
    margin-bottom: 0%;
    grid-area: header;
    margin: 1rem 2rem;
    display: flex;
}
header nav a {
    transition: text-shadow 0.25s;
    margin-right: 2rem;
}
header nav a:hover {
    text-shadow: 0 0 10px #fff;
}
main {
    grid-area: main;
    margin: 2rem;
}
nav {
    display: inline-block;
}
footer {
    background-color: var(--clearblack);
    grid-area: footer;
    color: #fff;
    padding: 2rem;
}
footer h2 {
    font-weight: bold;
    font-size: 110%;
}
footer p:not(footer p:last-of-type) {
    margin-bottom: 1rem;
    font-size: 90%;
}
footer p:last-of-type {
    font-size: 80%;
    opacity: 0.75;
}
/* ---------------- Modals ---------------- */
.AllModal {
    background-color: var(--clearblack);
    padding-top: 100px; /* modal box location */
    position: fixed;
    overflow: auto;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1; /* positions it to top */
    left: 0;
    top: 0;
}
.AllModalContent {
    background-image: url("../assets/modalBackground.webp");
    border: 1px solid #888;
    padding: 20px;
    margin: auto;
    width: 80%;
}
.AllModalClose {
    font-weight: bold;
    color: #aaaaaa;
    font-size: 28px;
    float: right;
}
.AllModalClose:hover, .AllModalClose:focus {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
/* ---------------- All Pages ---------------- */
.AllHeaderActive {
    border-bottom: 2px solid #fff;
}
#AllLoginButton {
    float: right;
    height: 50px;
    width: 50px;
}
/* ---------------- Index Page ---------------- */
#IndexHeader {
    margin: 3rem 3rem 0 3rem;
}
#IndexSection {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    margin: 0 20%;
    width: 60%;
}
.IndexOption {
    margin: 20px 0 10px 0;
    border-radius: 20px;
    height: 15vw;
    width: 15vw;
}
.IndexFigure {
    transition: filter 0.25s;
    cursor: pointer;
    width: 15vw;
}
.IndexFigure:not(a .IndexFigure) {
    filter: brightness(0.8) blur(5px);
}
.IndexFigure:not(a .IndexFigure):hover {
    filter: brightness(1) blur(0);
}
a .IndexFigure:hover {
    filter: brightness(1.4);
}
.IndexFigure figcaption {
    text-align: center;
    font-weight: bold;
}
/* ---------------- Home Page ---------------- */
#HomeMainInputCard {
    width: 93%;
}
#HomeMainSearchCard {
    padding-right: 1rem;
    padding-left: 1rem;
    margin-left: 1rem;
}
#HomeMainInputCard, #HomeMainSearchCard {
    border: 1px solid #fff;
}
#HomeCards {
    padding-left: 15%;
    padding-right: 10%;
}
#HomeCards img{
    padding-top: 1rem;
    width: 18%;
}
#HomeMainButtons {
    padding-left: 45%;
    display: flex;
}
#HomeMainButtons p {
    display: flex;
    padding: 0 2%;
}
#HomeMainButtons button {
    border: 1px solid #fff;
    text-align: center;
    padding: 0 1%;
}
.HomeSearchForCards{
    padding-left: 15%;
    padding-right: 16%;
    display: flex;
    width: 100%;
}
/* ---------------- Decks Page ---------------- */
.DecksMainContainer {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    gap: 3%;
}
.DecksMainItem {
    cursor: pointer;
    width: 300px;
}
.DecksMainItem:last-of-type {
    border: 2px solid #fff;
}
.DecksMainItem:last-of-type figcaption {
    font-family: monospace;
    user-select: none;
    font-size: 40px;
    margin: auto 0;
}
.DecksMainItem img {
    border-radius: 20px;
    width: 100%;
}
.DecksMainItem figcaption {
    text-align: center;
}
/* ---------------- Drawtest Page ---------------- */
/* Enter CSS here */
/* ---------------- New Deck Window ---------------- */
#NewDeckWindow {
    flex-wrap: wrap;
    display: flex;
    padding: 1rem;
}
#NewDeckWindow section {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    width: 25%;
}
.NewDeckWindowImg {
    width: 50%;
}