<%- include("partials/header") %>
    <title><%= title %></title>
</head>
<body>
    <header id="ErrorHeader">
        <a href="../">Go Back</a>
    </header>
    <main>
        <section id="ErrorMessage">
            <h1>Error&colon; 404</h1>
            <p>Deze pagina is niet gevonden&period; Onze excuses hiervoor&period;</p>
        </section>
    </main>
</body>
</html>