<%- include("partials/header") %>
    <script src="/js/loginForm.js" defer></script>    
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <% if (user !== undefined && user !== null) { %>
            <nav>
                <a href="/home">Home</a>
                <a href="/decks">Decks</a>
                <a href="/drawTest">Draw Test</a>
            </nav>
        <% } %>
    </header>
    <main>
        <section id="LogInForm">
            <% if (user === undefined || user === null) { %>
                <form action="/loginForm/login" method="post">
                    <h1>Registreer&colon;</h1><br>
                    <label for="email">Username</label><br>
                    <input type="text" name="username" placeholder="person@example.com" required><br>
                    <label for="password">Password</label><br>
                    <input type="password" name="password" placeholder="&bull;&bull;&bull;&bull;" required><br>
                    <input type="submit" value="Registreer">
                </form>
            <% } %>
            <% if (user !== undefined && user !== null) { %>
                <form action="/logout" method="get">
                    <h1>Ingelogd&colon;</h1><br>
                    <% console.log("succes") %>
                    <p><%= user.username %></p>
                    <button type="submit">Logout</button>
                </form>
            <% } %>
        </section>
    </main>
</body>
</html>