@font-face {
    src: url("../assets/font/ReggaeOne-Regular.ttf");
    font-family: "ReggaeOne";
}
:root {
    --clearblack: #00000080;
}
::-webkit-scrollbar {
    width: 0;
}
::placeholder {
    opacity: 0.75;
}
html {
    box-sizing: border-box;
}
body {
    background-image: url("../assets/background.webp");
    font-family: "ReggaeOne", serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 100vw;
    color: #fff;
}
header {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0%;
    grid-area: header;
    margin: 1rem 2rem;
    display: flex;
}
header nav a {
    transition: text-shadow 0.25s;
    margin-right: 2rem;
}
header nav a:hover {
    text-shadow: 0 0 10px #fff;
}
main {
    grid-area: main;
    margin: 2rem;
}
nav {
    display: inline-block;
}
footer {
    background-color: var(--clearblack);
    grid-area: footer;
    margin-top: 7.5%;
    margin-top: 5%;
    color: #fff;
    padding: 2rem;
}
footer h2, footer p {
    width: 70%;
}
footer h2 {
    font-weight: bold;
    font-size: 110%;
}
footer p:not(footer p:last-of-type) {
    margin-bottom: 1rem;
    font-size: 90%;
}
footer p:last-of-type {
    font-size: 80%;
    opacity: 0.75;
}
select, button, input {
    border-radius: 10px;
}
select, button {
    cursor: pointer;
}
/* ---------------- Modals ---------------- */
.Modal {
    background-color: var(--clearblack);
    padding-top: 100px; /* modal box location */
    position: fixed;
    overflow: auto;
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1; /* positions it to top */
    left: 0;
    top: 0;
}
.ModalContent {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    background-image: url("../assets/modalBackground.webp");
    border: 1px solid #888;
    padding: 15px 0px 15px 0px;
    margin: auto;
    width: 60%;
}
.ModalContent section:nth-child(3) {
    display: flex;
    flex-direction: column;
    gap: 15px
}
.ModalContent section h2, .ModalContent section p {
    margin-bottom: 20px;
}
.ModalContent form button {
    height: auto;
}
.ModalContent select {
    border: solid 2px #fff;
}
.ModalClose {
    transition: color 0.25s;
    font-weight: bold;
    cursor: pointer;
    font-size: 28px;
    float: right;
    color: #fff;
}
.ModalClose:hover, .ModalClose:focus {
    text-decoration: none;
    color: #000;
}
/* ---------------- All Pages ---------------- */
.AllActiveLink {
    border-bottom: 2px solid #fff;
}
#AllLoginButton {
    height: 50px;
    width: 50px;
}
/* ---------------- Index Page ---------------- */
#IndexHeader {
    justify-content: right;
    display: flex;
    margin: 3rem;
}
#IndexSection {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    margin: 0 20%;
    width: 60%;
}
.IndexOption {
    margin: 20px 0 10px 0;
    border-radius: 20px;
    height: 15vw;
    width: 15vw;
}
.IndexFigure {
    transition: filter 0.25s;
    cursor: pointer;
    width: 15vw;
}
.IndexFigure:not(a .IndexFigure) {
    filter: brightness(0.8) blur(5px);
}
.IndexFigure:not(a .IndexFigure):hover {
    filter: brightness(1) blur(0);
}
a .IndexFigure:hover {
    filter: brightness(1.4);
}
.IndexFigure figcaption {
    text-align: center;
    font-weight: bold;
}
/* ---------------- Home Page ---------------- */
#HomeSearch {
    padding: 0 14%;
    display: flex;
    width: 100%;
    margin-bottom: 30px;
}
#HomeSearch input, #HomeSearch button {
    border: 3px solid #fff;
    padding: 1% 2%;
}
#HomeSearch input {
    width: 93%;
}
#HomeSearch button {
    transition: background-color 0.25s;
    margin-left: 1rem;
    padding: 0 1rem;
}
#HomeSearch button:hover {
    background-color: #fff;
    color: #000;
}
#HomeCards {
    justify-content: center;
    margin: 3% 0 3% 0;
    flex-wrap: wrap;
    padding: 0 10%;
    display: flex;
    gap: 10px;
}
#HomeCards article {
    margin-bottom: 30px;
    height: 300px;
    width: 200px;
}
#HomeCards img {
    transition: filter 0.25s;
    border: 3px solid #fff;
    border-radius: 10px;
    cursor: pointer;
}
#HomeCards img:hover {
    filter: brightness(1.4);
}
#HomeButtons {
    align-content: center;
    margin-bottom: 7.5%;
    padding-left: 45%;
    display: flex;
}
#HomeButtons button, #HomeButtons p {
    cursor: pointer;
}
#HomeButtons button {
    transition: background-color 0.25s, color 0.25s;
    border: 3px solid #fff;
    text-align: center;
    padding: 1% 2%;
}
#HomeButtons button:hover {
    background-color: #fff;
    color: #000;
}
#HomeButtons p {
    margin: 1% 2%;
}
/* ---------------- Decks Page ---------------- */
#DecksGallery {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin: 0 10%;
    gap: 3%;
}
#DecksGallery figure {
    margin-bottom: 2%;
    cursor: pointer;
    height: auto;
    width: 250px;
}
#DecksGallery figure:last-of-type {
    transition: background-color 0.25s, color 0.25s;
    border: 2px solid #fff;
    justify-content: center;
    border-radius: 20px;
    display: flex;
    height: 350px;
}
#DecksGallery figure:last-of-type:hover {
    background-color: #fff;
    color: #000;
}
#DecksGallery figure:last-of-type figcaption {
    font-family: monospace;
    user-select: none;
    font-size: 40px;
    margin: auto 0;
}
#DecksGallery figure img {
    transition: filter 0.25s;
    border-radius: 20px;
}
#DecksGallery figure img:hover {
    filter: brightness(1.4);
}
#DecksGallery figcaption {
    text-align: center;
}
/* ---------------- Drawtest Page ---------------- */
#DrawTestSelection, #DrawTestTitles, #DrawTestContent {
    padding-right: 10%;
    padding-left: 10%;
}
#DrawTestTitles {
    justify-content: space-between;
    margin-bottom: 1%;
    display: flex;
}
#DrawTestSelection select {
    margin: 2.5% 0;
    padding: 1%;
    width: 64%;
}
#DrawTestSelection select, input, button {
    border: #fff 3px solid;
}
#DrawTestContent {
    display: flex;
    gap: 20px;
}
#DrawTestButtons {
    justify-content: center;
    flex-direction: column;
    display: flex;
    gap: 10px;
}
#DrawTestContent img {
    transition: filter 0.25s;
}
#DrawTestContent img:hover {
    filter: brightness(1.4);
}
#DrawTestContent figure {
    width: 15vw;
}
#DrawTestContent section:last-of-type {
    border-left: #fff 4px solid;
    flex-direction: column;
    padding-left: 5%;
    margin-left: 5%;
    display: flex;
}
#DrawTestContent section:last-of-type button, #DrawTestContent section:last-of-type input, #DrawTestButtons button {
    padding: 5%;
}
#DrawTestContent section:last-of-type input {
    margin-bottom: 10%;
}
#DrawTestButtons {
    margin: 0 2.5%;
    text-align: center;
    width: 10%;
}
#DrawTestButtons button {
    transition: background-color 0.25s, color 0.25s;
    padding: 7% 5%;
}
#DrawTestButtons button:hover {
    background-color: #fff;
    color: #000;
}
#DrawTestPercentage {
    align-items: center;
    display: flex;
}
#DrawTestTitles button, #DrawTestPercentage button {
    transition: background-color 0.25s, color 0.25s;
}
#DrawTestTitles button:hover, #DrawTestPercentage button:hover {
    background-color: #fff;
    color: #000;
}
#DrawTestPercentage p {
    user-select: none;
    margin-left: 10%;
}
option {
    background-color: #000;
}
/* ---------------- New Deck Window ---------------- */
.NewDeckWindow {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 1rem;
}
.NewDeckWindow article {
    flex-direction: column;
    flex-wrap: wrap;
    display: flex;
    width: 200px;
}
.NewDeckWindowImg {
    width: 100%;
}
.cardItem section {
    display: flex;
    justify-content: left;
    gap: 10px
}


/* ---------------- Media Queries ---------------- */
@media screen and (max-width: 1000px) {
    footer h2, footer p {
        width: 100%;
    }
}
@media screen and (max-width: 404px) {
    header {
        margin: 1rem 0.5rem;
    }
}